<% if (archive.owner) { %>
  <li class="archive">
    <a href="dat://<%= archive.key %>" class="peer-count">
      <i class="fa fa-share-alt"></i>
      <%= archive.numPeers %>
    </a>

    <div class="info">
      <a href="dat://<%= archive.key %>" class="name">
        <% if (archive.manifest) { %>
          <%= archive.manifest.title || archive.name %>
        <% } else { %>
          <%= archive.name %>
        <% } %>
      </a>

      <% if (archive.manifest && archive.manifest.description) { %>
        <p class="description">
          <%= archive.manifest.description %>
        </p>
      <% } %>

      <div class="metadata">
        <span class="time">
          <% var date = nicedate(archive.createdAt) %>
          <%= date %>
          <% if (date !== 'yesterday' && date !== 'just now') { %>
            <span> ago</span>
          <% } %>
        </span>

        Uploaded by 
        <a class="username" href="/<%= archive.owner.username %>">
          <%= archive.owner.username %>
        </a>
        &bull;

        <a href="<%= archive.name %>.<%= archive.owner.username %>.hashbase.io" class="http-link">
          <%= archive.name %>.<%= archive.owner.username %>.hashbase.io
        </a>
      </div>

      <a href="/<%= archive.owner.username %>/<%= archive.name %>" class="btn transparent details">
        details &raquo;
      </a>
    </div>
  </li>
<% } %>