<% if (archive.owner) { %>
  <li class="archive">
    <a href="dat://<%= archive.key %>" class="peer-count">
      <i class="fa fa-share-alt"></i>
      <%= archive.numPeers %>
    </a>

    <div class="info">
      <a href="dat://<%= archive.key %>" class="name">
        <%= archive.name %>
      </a>

      <p class="metadata">
        Uploaded by
        <a href="/<%= archive.owner.username %>">
          <%= archive.owner.username %>
        </a>
        <span class="time">
          <% var date = nicedate(archive.createdAt) %>
          <%= date %>
          <% if (date !== 'yesterday' && date !== 'just now') { %>
            <span> ago</span>
          <% } %>
        </span>
        -
        <a href="/<%= archive.owner.username %>/<%= archive.name %>" class="details">
          details
        </a>
      </p>
    </div>
  </li>
<% } %>